.app {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.main {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.nesImage {
	margin-top: -19px;
	user-select: none;
}

.gameContainer {
	width: 50vw;
}

.overlay {
	position: absolute;
	width: 90%;
	height: 90%;
}

.controls {
	position: absolute;
	left: 2px;
	bottom: 4px;
}
