.app {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.main {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.nesImage {
	margin-top: -19px;
}

.gameContainer {
	width: 50vw;
	padding-bottom: 93.75%;
}

.spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	width: 90%;
	height: 90%;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	background: black;
	opacity: 0.8;
}
