.app {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.main {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	min-height: 0;
}

.gameContainer {
	aspect-ratio: 256 / 240;
	width: 50vw;
	max-width: calc(100vh - 96px);
	padding: 0 !important;
}

.overlay {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
}

.controls {
	position: absolute;
	left: 2px;
	bottom: 4px;
}

.menu {
	position: absolute;
	right: 2px;
	bottom: 4px;
}
