.header {
	width: 100%;
	position: absolute;
	user-select: none;
}

.small {
	transform: scale(0.5);
	transform-origin: 0 0;
}

.message {
	position: absolute;
	z-index: 1;
}

.title {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
}

.titleLogo {
	transform: scale(0.8);
	transform-origin: 1 1;
}

.titleText {
	font-size: 0.7em;
	margin-left: 8px;
	vertical-align: text-bottom;
}
