.overlay {
	width: 100%;
	height: 100%;

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}

.show {
	opacity: 1;
	visibility: visible;
}

.loader {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dark {
	background: black;
	opacity: 0.8;
}

.message {
	user-select: none;
}
